* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.album-cover {
  background: url(images/astroworld.jpg) no-repeat;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.song-title {
  text-align: center;
}

.song-list {
  width: 100%;
  border: 2px solid black;
}

.song-list ul {
  list-style-type: none;
  padding-left: 0;
}

.song-list .headers>* {
  display: inline-block;
  width: 40%;
  text-align: center;
  text-decoration: underline;
}

.song-list ul .single-song .title,
.song-list ul .single-song .artist {
  width: 40%;
  border-right: 2px solid black;
  text-align: center;
}

.single-song {
  border: 1px solid black;
}

.song-list ul .button {
  width: 55px;
  height: 50px;
  background: url(images/play-button.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.single-song>* {
  display: inline-block;
}
