* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.album-cover {
  background: url(images/astroworld.jpg) no-repeat;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.song-title {
  text-align: center;
}
